* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
    background-color: black;
    position: relative;
    color: white;
}

/* body {
    background-image: url("");
    background-image:;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
} */

.logo-left {
    height: 50px;
    display: flex;
    float: left;
}

.logo-right {
    height: 50px;
    display: flex;
    float: right;
}

.header2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.nav-bar {
    width: auto;
}

.nav-bar ul {
    float: right;
}

.nav-bar ul li {
    font-size: 20px;
    display: inline-block;
    justify-content: reverse;
    padding-left: 10px;
    float: right;
    padding-right: 10px;
    &:hover{
        background-color: red;
    }

}

.nav-bar ul li a {
    display: inline;
    color: white;
    text-decoration: none;
}

.contact-container {
    height: 65vh;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-form {
    background-color: rgba(6, 190, 255);
    display:inline;
    height: 50vh;
}

.contact-form h1{
    font-size: 35px;
    padding-left: 29px;
}

.form{
    padding-left: 50px;
    font-size: 25px;
}

.contact-form hr{
    height: 4px;
    background-color: black;
    border: none;
    margin-right: 55%;
    margin-left: 29px;
}

.contact-form input{
    height: 30px;
    width: 95%;
    padding-left: 10px;
    transition: 0.3s;

}

.contact-form input:hover{
    background-color: rgb(241, 241, 120);
}

.contact-form label{
    display: flex;
}

.msg input{
    margin-top: 10px;
    height: 70px;
    padding-left: 10px;
}

.submit-button{
    margin-top: 30px;
    height: 30px;
    width: 95%;
    background-color: yellow;
    border-radius: 18px;
    box-shadow: 2px 2px 5px;
    transition: 0.3s;
}

.submit-button:hover{
    background-color: orange;
    opacity: 0.8;
}



.footer {
    height: 400px;
    background-color: black;
    width: 100%;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    align-items: center;
    align-items: flex-start;
}

.footer-col {
    flex: 1 1 22%;
    margin: 10px;
    min-width: 200px;
    font-size: 20px;
}

.bottom-logo1 {
    border-radius: 50%;
    border: 5px solid red;
    display: block;
    margin: 0 auto 20px;
}

.footer-logo1-p {
    font-family: Brush Script MT;
}

.information {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inf-logo-1 img {
    height: 35px;
    border-radius: 50%;
    display: flexbox;
}

.inf-logo-2 img {
    height: 35px;
    border-radius: 50%;
    display: block;
}

.inf-logo-3 img {
    height: 35px;
    border-radius: 50%;
    display: block;
}

.footer-col h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
}



.last-updated {
    height: 30px;
    padding-top: 4px;
    text-align: center;
    background-color: gray;
    color: #fff;
}

.bottom-logo {
    width: 250px;
    height: 180px;
    margin-bottom: 10px;
}

.footer-logo1-p {
    text-align: center;
    font-size: 16px;
}